.venv
.env
/firebase
.idea
.coverage
__pycache__
/htmlcov
/pytest_cache
/app/__pycache__
/app/api/__pycache__
/app/api/v1/__pycache__
/app/core/__pycache__
/app/models/__pycache__
/app/schemas/__pycache__
/tests/__pycache__